.image{
    width:250px;
    height:250px;
    border-radius:5px;
    margin:0 -10px;
    display:block;
    margin-bottom:20px;


}

.btn{
    margin: 10px;
}
.card{
    background-color: rgb(87, 86, 86);
}
.card:hover{
    transform: scale(1.05);
    transition: all 0.5s;
}

@media  (max-width: 768px) {
   .container{
       width: 100%;
       margin-left: 55px;
   }



    
}

